/* Agrega estilos personalizados aquí */
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Establece la altura del cuerpo al 100% de la ventana */
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    background-image: url(../assets/banner-fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    color: white; /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px; /* Tamaño del texto según sea necesario */
    flex-grow: 1; /* Ajusta la expansión del contenedor para centrar el título */
}

.navbar-brand img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.navbar-nav {
    margin-top: auto; /* Coloca el menú de navegación en la parte inferior */
}

.navbar-nav li {
    margin-right: 10px;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.container {
    flex-grow: 0.5; /* Ajusta la expansión del contenedor para llenar el espacio restante */
    padding-top: 10px;
}

.navbar-toggler {
    background-color: white;
}



/* Estilos adicionales según sea necesario */

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Ajusta el nivel de opacidad según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;

}

.mt-3 {
    margin-top: 7rem!important;
}

.h3, h3 {
    font-size: 1rem;
}

.text-white {
    font-size: 2.5rem;
}

.position-absolute p {
    background-color: rgba(0, 0, 0, 0.7); /* Ajusta la opacidad según sea necesario */
}


.titulo-secundario{
    text-align:center;
    font-weight: 400;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-top: 50px;
    background-color: #020422;
}


/*especialidades*/


.galeria-especialidades { 
    font-weight: 300px;
    font-size: 1.25rem;
    color: black;
    margin: 0 40px;
    text-align:justify;
}
/*Turnos*/

form {
    width: 400px;
    margin: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



footer {
    margin-top: 20px;
    background-color: #020422;
    color: #fff; 
    padding: 20px;
    text-align: center;
}

.redes-sociales a {
    color: #fff; 
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px; 
    position: relative; 
    margin-left: 20px;
}


