<style>
    @media (max-width: 767px) {
    #carouselServicios h5 {
        font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
    }
}

/* Estilos para tablets y otros dispositivos pequeños si es necesario */
@media (min-width: 768px) and (max-width: 991px) {
    #carouselServicios h5 {
        font-size: 2rem; /* Ajusta el tamaño del texto según sea necesario */
    }
}

/* Estilos para dispositivos medianos y grandes */
@media (min-width: 992px) {
    #carouselServicios h5 {
        font-size: 2.5rem; /* Ajusta el tamaño del texto según sea necesario */
    }
}



body {
    font-family: 'Kanit', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('../assets/l'); /* Ruta de tu imagen de fondo */
    background-repeat: repeat; /* Esta propiedad hace que la imagen se repita horizontal y verticalmente */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center center; /* Centra la imagen en el fondo */
}

header {
    background-image: url(../assets/banner-fondo.jpg); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 0; /* Ajusta el padding para controlar la altura del header */
    text-align: center;
}

h1 {
    font-size: 3em; /* Ajusta el tamaño de la fuente del título */
}

nav {
    background: linear-gradient(to right, #00c3ff, #000a63); /* Fondo azul degradado */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold; 
}

video {
    width: 100%;
    height: auto;
}

.highlighted-section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}