<style>
    @media (max-width: 767px) {
    #carouselServicios h5 {
        font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
    }
}

/* Estilos para tablets y otros dispositivos pequeños si es necesario */
@media (min-width: 768px) and (max-width: 991px) {
    #carouselServicios h5 {
        font-size: 2rem; /* Ajusta el tamaño del texto según sea necesario */
    }
}

/* Estilos para dispositivos medianos y grandes */
@media (min-width: 992px) {
    #carouselServicios h5 {
        font-size: 2.5rem; /* Ajusta el tamaño del texto según sea necesario */
    }
}



body {
    font-family: 'Kanit', sans-serif;
    background-color: #f0f0f081;
    margin: 0;
    padding: 0;
    background-image: url('../assets/logo3.png'); 
    background-repeat: repeat; 
    background-position: center center ; 
}

header {
    background-image: url(../assets/banner-fondo.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 0; /* Ajusta el padding para controlar la altura del header */
    text-align: center;
}

h1 {
    font-size: 3em; /* Ajusta el tamaño de la fuente del título */
}

nav {
    background: linear-gradient(to right, #00c3ff, #000a63); /* Fondo azul degradado */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold; 
}

video {
    width: 100%;
    height: auto;
}

.highlighted-section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

/* Estilo personalizado para las tarjetas */
.custom-card-1 {
    background-color: #4aa1db; /* Color azul personalizado */
    color: #fff; /* Texto blanco para mayor legibilidad */
}

.custom-card-2 {
    background-color: #88b1cc; /* Color verde personalizado */
    color: #fff;
}

.custom-card-3 {
    background-color: #5bdee7; /* Color naranja personalizado */
    color: #fff;
}

/*Turnos*/

form {
    width: 400px;
    margin: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Pie*/

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

